	<div data-role="page"  id="pri">
		<div data-role="header">
			<%= link_to 'Regresar', inicios_path %>
			<h1>Partidos</h1>
		</div>
		<div data-role="content"  style="padding-right: 0px;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
				<div class="ui-grid-a">
					<div class="ui-block-a">
						
						<a href="#pri" data-role="button" data-corners="false" style=" height: 210px;
						background-repeat: no-repeat;
						background-position: center;
						background-size:contain;
						background-color: #fff;
						background-image: url(<%= asset_path 'logos/pan.jpg' %>)" 
						data-transition="flow"></a>
					</div>		
					
					<div class="ui-block-b">
						
						<a href="#pan" data-role="button" data-corners="false" style=" height: 210px;
						background-repeat: no-repeat;
						background-position: center;
						background-size:contain;
						background-color: #fff;
						background-image: url(<%= asset_path 'logos/pan.jpg' %>)" 
						data-transition="flow"></a>
					</div>			
					<div class="ui-block-a">
						
						<a href="#pt" data-role="button" data-corners="false" style=" height: 210px;
						background-repeat: no-repeat;
						background-position: center;
						background-size:contain;
						background-color: #fff;
						background-image: url(<%= asset_path 'logos/pan.jpg' %>)" 
						data-transition="flow"></a>
					</div>		
					<div class="ui-block-b">
						
						<a href="#prd" data-role="button" data-corners="false" style=" height: 210px;
						background-repeat: no-repeat;
						background-position: center;
						background-size:contain;
						background-color: #fff;
						background-image: url(<%= asset_path 'logos/pan.jpg' %>)" 
						data-transition="flow"></a>
					</div>		
					
					<div class="ui-block-a">
						<a href="#pvem" data-role="button" data-corners="false" style="height: 210px; 
						background-repeat: no-repeat;
						background-position: center;
						background-size:contain;
						background-color: #fff;
						background-image: url(<%= asset_path 'logos/pan.jpg' %>)" 
						data-transition="flow"></a>
						
					</div>
					<div class="ui-block-b">
						
						<a href="#mc" data-role="button" data-corners="false" style=" height: 210px;
						background-repeat: no-repeat;
						background-position: center;
						background-size:contain;
						background-color: #fff;
						background-image: url(<%= asset_path 'logos/pan.jpg' %>)" 
						data-transition="flow"></a>
					</div>		
					<div class="ui-block-a">
						
						<a href="#panal" data-role="button" data-corners="false" style=" height: 210px;
						background-repeat: no-repeat;
						background-position: center;
						background-size:contain;
						background-color: #fff;
						background-image: url(<%= asset_path 'logos/pan.jpg' %>)" 
						data-transition="flow"></a>
					</div>		
				</div>
			</div>
	</div>

	
	<div data-role="page"  id="pan">
		<div data-role="header">
			<h1>PAN</h1>
			
		</div>
		<div role="main">
			<%= render 'pan' %>
		</div>
	</div>
	
	<div data-role="page"  id="pvem">
		<div data-role="header">
			<h1>PVEM</h1>
			
		</div>
		<div role="main">
			<%= render 'pvem' %>
		</div>
	</div>
	
	<div data-role="page"  id="pri">
		<div data-role="header">
			<h1>PRI</h1>
			
		</div>
		<div role="main">
			<%= render 'pri' %>
		</div>
	</div>
	
	
	
	<div data-role="page"  id="mc">
		<div data-role="header">
			<h1>MC</h1>
			
		</div>
		<div role="main">
			<%= render 'mc' %>
		</div>
	</div>
	
	<div data-role="page"  id="panal">
		<div data-role="header">
			<h1>PANAL</h1>
			
		</div>
		<div role="main">
			<%= render 'panal' %>
		</div>
	</div>
	
	<div data-role="page"  id="pt">
		<div data-role="header">
			<h1>PT</h1>
			
		</div>
		<div role="main">
			<%= render 'pt' %>
		</div>
	</div>
	
	<div data-role="page"  id="prd">
		<div data-role="header">
			<h1>PRD</h1>
			
		</div>
		<div role="main">
			<%= render 'prd' %>
		</div>
	</div>
		
